In [5]:
%load_ext sql

In [6]:
import pandas as pd
import configparser

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB_USER       = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD          = config.get("CLUSTER","DB_PASSWORD")
DWH_ENDPOINT          = config.get("CLUSTER","HOST")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_DB                 = config.get("CLUSTER","DB_NAME")

pd.DataFrame({"Param":
                  ["DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_ENDPOINT", "DWH_PORT", "DWH_DB"],
              "Value":
                  [DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB]
             })

             Param                                              Value
0      DWH_DB_USER                                            dwhuser
1  DWH_DB_PASSWORD                                           Passw0rd
2     DWH_ENDPOINT  dwhcluster.cqunoigg4bl9.us-west-2.redshift.ama...
3         DWH_PORT                                               5439
4           DWH_DB                                                dwh

In [7]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [8]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(6, datetime.datetime(9999, 6, 27, 4, 40, 39), 80, 'paid', 'SOBNYLJ12AB0189934', 'AREIK8S1187B9A6071', 435, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (13, datetime.datetime(9999, 6, 27, 4, 40, 39), 42, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 129, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (20, datetime.datetime(9999, 6, 27, 4, 40, 39), 29, 'paid', 'SOWGZFG12A8151AF41', 'ARC8CQZ1187B98DECA', 589, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (27, datetime.datetime(9999, 6, 27, 4, 40, 39), 97, 'paid', 'SODHOHA12A8C1397F1', 'ARAFIWJ1187FB38D33', 817, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (34, datetime.datetime(9999, 6, 27, 4, 40, 39), 29, 'paid', 'SOJWFXM12A3F1EBE8B', 'AR049S81187B9AE8A5', 486, 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [9]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('43', 'Jahiem', 'Miles', 'M', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'paid'),
 ('75', 'Joseph', 'Gutierrez', 'M', 'free'),
 ('12', 'Austin', 'Rosales', 'M', 'free')]

In [10]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003, 75.67628),
 ('SOUHVQB12A6D4F72A8', 'Set Me Free', 'ARI6NAR1187FB3B053', 2006, 292.10077),
 ('SOSVTQX12A8C136D74', 'Imagination', 'ARYSHL01187B9AAEC7', 2005, 389.642),
 ('SOVEBYA12A6D4F413A', 'Elusive Butterfly', 'AR4VT3E1187FB570BB', 1966, 192.15628),
 ('SOPLHPH12AB0184B14', 'Further', 'ARLE5971187FB38C21', 2003, 683.72853)]

In [11]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARMPI3T1187FB37025', 'Esham', 'Long Island, NY', None, None),
 ('ARQZLCM12086C16EFC', 'Cymbals Eat Guitars', 'New York NY', 40.71455, -74.00712),
 ('ARMF1YX1187FB3854C', 'Maetrik', 'DALLAS, US', 32.77815, -96.7954),
 ('ARESESF1187B99B4D1', 'Komet', None, None, None),
 ('ARLL5W71187FB37991', 'Klovner I Kamp', None, None, None)]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cqunoigg4bl9.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 5, 1, 40, 40, 796000), 1, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 5, 18, 796000), 2, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 2, 42, 30, 796000), 2, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 4, 40, 25, 796000), 4, 5, 45, 11, 2018, 1),
 (datetime.datetime(2018, 11, 5, 5, 54, 51, 796000), 5, 5, 45, 11, 2018, 1)]